[submodule "deps/ledger-zxlib"]
	path = deps/ledger-zxlib
	url = https://github.com/zondax/ledger-zxlib
[submodule "deps/blake2"]
	path = deps/blake2
	url = https://github.com/Zondax/BLAKE2.git
[submodule "deps/stax-secure-sdk"]
	path = deps/stax-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk.git
